.AddService {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.Main__Modal--Content {
  width: 350px;
  min-height: 250px;
  border-radius: 10px;
  background-color: var(--White);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.Main__Modal--Content--Title {
  font-size: var(--SubTittleFontSize);
  font-weight: bold;
  text-align: center;
  color: var(--Red);
}
.Main__Modal--Content--Title.Complete {
  color: var(--Green);
}
.Main__Modal--Content--Title.Image {
  color: var(--MainPurple);
}
.AddService__Picture {
  width: 100px;
  height: 100px;
}
.AddService__Picture img {
  width: 100%;
  height: 100%;
}
.AddService__Description {
  text-align: center;
  font-size: var(--NormalFontSize);
  font-weight: bold;
  color: var(--Black);
}
.AddService__File {
  max-width: 100%;
  height: 40px;
  background-color: var(--StrongPurple);
  color: var(--White);
  font-size: var(--NormalFontSize);
  font-weight: bold;
  border: 2px solid var(--StrongPurple);
  cursor: pointer;
  transition: 0.5s ease all;
  padding: 10px;
  text-align: center;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.AddService__File:hover {
  background-color: transparent;
  color: var(--StrongPurple);
}
.AddService__File--SmallError {
  width: 100%;
  text-align: center;
  font-size: var(--NormalFontSize);
  color: var(--Red);
  font-weight: bold;
}
.AddService__ContainerInputs {
  width: 100%;
}
.AddService__ContainerInputs--Title {
  font-size: var(--IconFontSize);
  font-weight: bold;
  color: var(--Gray);
}
.AddService__ContainerInputs--Input {
  height: 65px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--Gray);
  font-size: var(--NormalFontSize);
  font-weight: bold;
  color: var(--Black);
}
.AddService__ContainerInputs--Input::placeholder {
  font-weight: bold;
  color: var(--Gray);
}
.AddService__ContainerInputs--SmallError {
  width: 100%;
  font-weight: bold;
  color: var(--Red);
}
.AddUsers__Button {
  width: 100%;
  height: 50px;
  background-color: var(--StrongPurple);
  color: var(--White);
  font-size: var(--NormalFontSize);
  font-weight: bold;
  border: 2px solid var(--StrongPurple);
  cursor: pointer;
  transition: 0.5s ease all;
  text-align: center;
}
.AddUsers__Button:hover {
  background-color: var(--White);
  color: var(--StrongPurple);
}
@media (width < 600px) {
  .AddService {
    width: 100%;
  }
}
