.AddUsers {
  position: relative;
  width: 1024px;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: var(--White);
  overflow: hidden;
}
.AddUsers__Container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.AddUsers__Container--Title {
  font-size: var(--SubTittleFontSize);
  font-weight: bold;
  color: var(--StrongPurple);
  text-align: center;
}
.AddUsers__Container__Form {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.AddUsers__Container__Form {
  display: flex;
}
.AddUsers__Container__Form--Title {
  color: var(--Gray);
  font-size: var(--IconFontSize);
  font-weight: bold;
}
.AddUsers__Container__Form--Input {
  height: 65px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--Gray);
  font-size: var(--NormalFontSize);
  font-weight: bold;
  color: var(--Black);
}
.AddUsers__Container__Form--Input::placeholder {
  font-weight: bold;
  color: var(--Gray);
}
.AddUsers__Container__Form--SmallError {
  color: var(--Red);
  font-weight: bold;
}
.AddUsers__Container__Form--Button {
  height: 65px;
  background: var(--StrongPurple);
  color: var(--White);
  font-size: var(--NormalFontSize);
  border: 2px solid var(--StrongPurple);
  font-weight: bold;
  outline: none;
  transition: 0.5s ease all;
}
.AddUsers__Container__Form--Button:hover {
  cursor: pointer;
  background-color: var(--White);
  color: var(--StrongPurple);
  letter-spacing: 1px;
}
@media (width < 1024px) {
  .AddUsers {
    width: 100%;
  }
}
@media (width < 600px) {
  .AddUsers__Container__Form {
    width: 100%;
  }
}
