.AdminAddInternal {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.AdminAddInternal__Title {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: var(--NormalFontSize);
  font-weight: bold;
  color: var(--White);
  background-color: var(--StrongPurple);
}
.AdminAddInternal__Picture {
  max-width: 100%;
  height: 100px;
}
.AdminAddInternal__Picture img {
  width: 100%;
  height: 100%;
}
.AdminAddInternal__Description {
  text-align: center;
  font-size: var(--NormalFontSize);
  font-weight: bold;
  color: var(--Black);
}
.AdminAddInternal__File {
  max-width: 100%;
  height: 40px;
  background-color: var(--StrongPurple);
  color: var(--White);
  font-size: var(--NormalFontSize);
  font-weight: bold;
  border: 2px solid var(--StrongPurple);
  cursor: pointer;
  transition: 0.5s ease all;
  padding: 10px;
  text-align: center;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.AdminAddInternal__File:hover {
  background-color: transparent;
  color: var(--StrongPurple);
}
.AdminAddInternal__File--SmallError {
  width: 100%;
  text-align: center;
  font-size: var(--NormalFontSize);
  color: var(--Red);
  font-weight: bold;
}
.AdminAddInternal__ContainerInputs {
  width: 100%;
}
.AdminAddInternal__ContainerInputs--Title {
  font-size: var(--IconFontSize);
  font-weight: bold;
  color: var(--Gray);
  width: 100%;
}
.AdminAddInternal__ContainerInputs--Input {
  height: 65px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--Gray);
  font-size: var(--NormalFontSize);
  font-weight: bold;
  color: var(--Black);
}
.AdminAddInternal__ContainerInputs--Input.TextArea {
  resize: vertical;
  min-height: 65px;
  max-height: 300px;
  padding: 20px 0;
}
.AdminAddInternal__ContainerInputs--Input::placeholder {
  font-weight: bold;
  color: var(--Gray);
}
.AdminAddInternal__ContainerInputs--SmallError {
  width: 100%;
  font-weight: bold;
  color: var(--Red);
}
.AdminAddInternal__Button {
  width: 100%;
  height: 50px;
  background-color: var(--StrongPurple);
  color: var(--White);
  font-size: var(--NormalFontSize);
  font-weight: bold;
  border: 2px solid var(--StrongPurple);
  cursor: pointer;
  transition: 0.5s ease all;
  text-align: center;
}
.AdminAddInternal__Button:hover {
  background-color: var(--White);
  color: var(--StrongPurple);
}
@media (width < 600px) {
  .AdminAddInternal {
    width: 100%;
  }
}
