.DateCreated {
  min-height: 100vh;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.DateCreated__Container {
  width: 500px;
  height: auto;
  background-color: var(--White);
  border-radius: 25px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.DateCreated__Container--Img {
  width: 100px;
}

.DateCreated__Container--Title {
  font-size: var(--SubTittleFontSize);
  font-weight: bold;
  color: var(--StrongPurple);
  text-align: center;
}
.DateCreated__Container--Title.Two {
  font-size: var(--NormalFontSize);
  color: #8a90a1;
}
.DateCreated__Container--Buttons {
  display: flex;
  gap: 10px;
}
.DateCreated__Container--Buttons--Button {
  color: #8a90a1;
  font-size: var(--NormalFontSize);
  font-weight: bold;
  transition: 0.5s ease all;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.DateCreated__Container--Buttons--Button:hover {
  cursor: pointer;
  background-color: var(--White);
  color: var(--StrongPurple);
  letter-spacing: 1px;
}
