.DatingHistory__Container--Dates--Card {
  position: relative;
  overflow: hidden;
  min-height: 150px;
  height: auto;
  border-radius: 25px;
  padding: 20px;
  transition: 0.5s ease all;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.DatingHistory__Container--Dates--Card:nth-child(4n-3) {
  background: var(--ContainerPurple);
}
.DatingHistory__Container--Dates--Card:nth-child(4n-2) {
  background: var(--ContainerGray);
}
.DatingHistory__Container--Dates--Card:nth-child(4n-1) {
  background: var(--ContainerBrown);
}
.DatingHistory__Container--Dates--Card:nth-child(4n) {
  background: var(--ContainerGreen);
}
.DatingHistory__Container--Dates--Card--Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.DatingHistory__Container--Dates--Card--Container--Img {
  min-width: 100px;
  width: 100px;
  min-height: 100px;
  height: 100px;
  border: 2px solid var(--White);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.DatingHistory__Container--Dates--Card--Container--Img img {
  width: 65%;
  height: 65%;
}
.DatingHistory__Container--Dates--Card--Container--Details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}
.DatingHistory__Container--Dates--Card--Container--Details--Text {
  font-size: var(--NormalFontSize);
  color: var(--White);
  font-weight: bold;
  text-align: center;

  display: flex;
  align-items: center;
  gap: 3px;
}
.DatingHistory__Container--Dates--Card--Container--Details--Text.ID {
  position: absolute;
  top: -10px;
  right: -35px;
  background-color: var(--Blue);
  width: 100px;
  height: 50px;
  padding-bottom: 5px;
  transform: rotate(45deg);

  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.DatingHistory__Container--Dates--Card--Container--Details--Text ion-icon {
  font-size: var(--IconFontSize);
}
.DatingHistory__Container--Dates--Card--Container--Button {
  width: 50px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.DatingHistory__Container--Dates--Card--Container--Button--View {
  cursor: pointer;
  background: var(--White);
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 10px;
  color: var(--Blue);

  transition: 0.5s ease all;
}
.DatingHistory__Container--Dates--Card--Container--Button--View:hover {
  background: var(--Blue);
  transform: scale(1.1);
}
.DatingHistory__Container--Dates--Card--Container--Button--View ion-icon {
  font-size: var(--IconFontSize);
  transition: 0.5s ease all;
}
.DatingHistory__Container--Dates--Card--Container--Button--View:hover ion-icon {
  color: var(--White);
}
.DatingHistory__Container--Dates--Card--Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.DatingHistory__Container--Dates--Card--Buttons--Negative,
.DatingHistory__Container--Dates--Card--Buttons--Positive {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  font-size: var(--NormalFontSize);
  background-color: var(--White);
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.5s ease all;
}
.DatingHistory__Container--Dates--Card--Buttons--Negative {
  color: var(--Red);
}
.DatingHistory__Container--Dates--Card--Buttons--Positive {
  color: var(--Green);
}
.DatingHistory__Container--Dates--Card--Buttons--Negative:hover {
  background-color: var(--Red);
  color: var(--White);
  transform: scale(1.05);
}
.DatingHistory__Container--Dates--Card--Buttons--Positive:hover {
  background-color: var(--Green);
  color: var(--White);
  transform: scale(1.05);
}
.DateInformation__Container--Status {
  color: var(--White);
  font-size: var(--NormalFontSize);
  font-weight: bold;
  text-align: center;
}
@media (width < 800px) {
  .DatingHistory__Container--Dates--Card--Container {
    min-height: 130px;
  }
  .DatingHistory__Container--Dates--Card--Container--Img {
    width: 80px;
    height: 80px;
    min-height: 80px;
    min-width: 80px;
  }
  .DatingHistory__Container--Dates--Card--Container--Details--Text {
    font-size: var(--SmallFontSize);
  }
  .DatingHistory__Container--Dates--Card--Container--Details--Text ion-icon {
    font-size: var(--NormalFontSize);
  }
}
@media (width < 570px) {
  .DatingHistory__Container--Dates--Card--Container--Details--Text {
    font-size: var(--NormalFontSize);
  }
  .DatingHistory__Container--Dates--Card--Container--Details--Text ion-icon {
    font-size: var(--IconFontSize);
  }
}
@media (width < 360px) {
  .DatingHistory__Container--Dates--Card--Container--Details--Text {
    font-size: var(--SmallFontSize);
  }
  .DatingHistory__Container--Dates--Card--Container--Details--Text ion-icon {
    font-size: var(--NormalFontSize);
  }
}
