.ModalAdminService {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* transition: 0.5s ease all; */
  opacity: 0;
}
.ModalAdminService.Show {
  opacity: 1;
  z-index: 1000;
}
.ModalAdminService__Container {
  position: relative;
  width: 500px;
  min-height: 200px;
  height: auto;
  background: var(--White);
  padding: 40px;
  border-radius: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ModalAdminService__Container__Close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 60px;
  height: 60px;
  background: var(--StrongPurple);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: var(--TittleFontSize);
  color: var(--White);
  transition: 0.5s ease all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalAdminService__Container__Close:hover {
  transform: scale(1.1);
}
.ModalAdminService__Container__Title {
  font-size: var(--SubTittleFontSize);
  font-weight: bold;
  color: var(--Black);
  text-align: center;
  text-transform: uppercase;
}
.ModalAdminService__Container__Divisor {
  width: 100%;
  height: 1px;
  border: none;
  background: var(--Gray);
}
.ModalAdminService__Container__Text {
  width: 100%;
  font-size: var(--NormalFontSize);
}
.ModalAdminService__Container__Text b {
  color: var(--StrongPurple);
  font-weight: bold;
}
.ModalAdminService__Container__Message {
  font-style: italic;
  color: var(--Gray);
  text-align: center;
}
.ModalAdminService__Container__Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ModalAdminService__Container__Form--Picture {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--StrongPurple);
}
.ModalAdminService__Container__Form--Picture img {
  width: 100%;
  height: 100%;
}
.ModalAdminService__Container__Form--Description {
  text-align: center;
  font-size: var(--NormalFontSize);
  font-weight: bold;
  color: var(--Black);
}
.ModalAdminService__Container__Form--File {
  max-width: 100%;
  height: 40px;
  background-color: var(--StrongPurple);
  color: var(--White);
  font-size: var(--NormalFontSize);
  font-weight: bold;
  border: 2px solid var(--StrongPurple);
  cursor: pointer;
  transition: 0.5s ease all;
  padding: 10px;
  text-align: center;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalAdminService__Container__Form--File:hover {
  background-color: transparent;
  color: var(--StrongPurple);
}
.ModalAdminService__Container__Form--File--SmallError {
  width: 100%;
  text-align: center;
  font-size: var(--NormalFontSize);
  color: var(--Red);
  font-weight: bold;
}
.ModalAdminService__Container__Form--Title {
  font-size: var(--NormalFontSize);
  font-weight: bold;
  color: var(--Gray);
}
.ModalAdminService__Container__Form--Input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--Transparent);
  font-size: var(--NormalFontSize);
  color: var(--Black);
  font-weight: bold;
}
.ModalAdminService__Container__Form--Input::placeholder {
  color: var(--Gray);
  font-weight: bold;
}
.ModalAdminService__Container__Form--Button {
  width: 100%;
  height: 50px;
  background-color: var(--StrongPurple);
  font-size: var(--NormalFontSize);
  color: var(--White);
  font-weight: bold;
  outline: none;
  border: 2px solid var(--StrongPurple);

  transition: 0.5s ease all;
}
.ModalAdminService__Container__Form--Button:hover {
  cursor: pointer;
  background-color: var(--White);
  color: var(--StrongPurple);
  letter-spacing: 1px;
}
.ModalAdminService__Container__Form--SmallError {
  font-weight: bold;
  color: var(--Red);
}
@media (width < 400px) {
  .ModalAdminService__Container {
    min-height: auto;
    padding: 20px;
    gap: 20px;
  }
  .ModalAdminService__Container__Title {
    font-size: var(--IconFontSize);
  }
  .ModalAdminService__Container__Form--Button {
    font-size: var(--SmallFontSize);
  }
}
