.PointOfSalesCart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  z-index: 1000;
  background: var(--SecondaryBlack);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.PointOfSalesCart.Show {
  right: 0;
}
.PointOfSalesCart__Close {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.PointOfSalesCart__Close ion-icon {
  font-size: var(--TittleFontSize);
  color: var(--White);
}
.PointOfSalesCart__Header {
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  border-bottom: 1px solid #302e33;
  padding: 20px;
  font-size: var(--IconFontSize);
  font-weight: bold;
  color: var(--White);

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.PointOfSalesCart__Header--Total {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: var(--SmallFontSize);
  background: var(--StrongPurple);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}
.PointOfSalesCart__Container {
  overflow: auto;
  height: 100%;
  padding: 0 20px;
}
.PointOfSalesCart__Container__Content {
  min-height: 75px;
  padding: 20px;
  border-bottom: 1px solid #302e33;

  display: flex;
  align-items: center;
  gap: 10px;
}
.PointOfSalesCart__Container--Img {
  width: 55px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.PointOfSalesCart__Container--Img img {
  width: 100%;
}
.PointOfSalesCart__Container--Details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.PointOfSalesCart__Container--Details--NameAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.PointOfSalesCart__Container--Details--NameAndPrice--Name {
  font-size: var(--SmallFontSize);
  color: var(--White);
}
.PointOfSalesCart__Container--Details--NameAndPrice--Price {
  font-size: var(--SmallFontSize);
  color: var(--White);
  font-weight: bold;
}
.PointOfSalesCart__Container--Buttons {
  display: flex;

  align-items: center;
  justify-content: flex-start;
}
.PointOfSalesCart__Container--Buttons--Subtract,
.PointOfSalesCart__Container--Buttons--Amount,
.PointOfSalesCart__Container--Buttons--Add {
  width: 20px;
  height: 20px;
  background-color: #302e33;
  color: var(--White);
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.PointOfSalesCart__Container--Buttons--Amount {
  background: none;
  border: 1px solid #302e33;
  font-size: var(--SmallFontSize);
}
.PointOfSalesCart__Footer {
  width: 100%;
  min-height: 100px;
  background-color: #302e33;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.PointOfSalesCart__Footer--ButtonCancel,
.PointOfSalesCart__Footer--ButtonPay {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-weight: bold;
  color: var(--White);
  cursor: pointer;
  transition: 0.5s ease all;
}
.PointOfSalesCart__Footer--ButtonCancel {
  border: 2px solid var(--SecondaryBlack);
  background-color: var(--SecondaryBlack);
}
.PointOfSalesCart__Footer--ButtonPay {
  border: 2px solid var(--StrongPurple);
  background-color: var(--StrongPurple);
}
.PointOfSalesCart__Footer--ButtonCancel:hover {
  background-color: var(--White);
  color: var(--SecondaryBlack);
}
.PointOfSalesCart__Footer--ButtonPay:hover {
  background-color: var(--White);
  color: var(--StrongPurple);
}
.PointOfSalesCart__Footer--ButtonCancel:hover,
.PointOfSalesCart__Footer--ButtonPay:hover {
  letter-spacing: 1px;
}
@media (width < 500px) {
  .PointOfSalesCart {
    width: 100%;
  }
  .PointOfSalesCart__Container {
    padding: 0;
  }
}
