.Sales__All {
  width: 100%;
  height: auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Sales__All--SubTitle {
  font-size: var(--SubTittleFontSize);
  font-weight: bold;
  color: var(--StrongPurple);
}
.Sales__All--Input {
  background: var(--Transparent);
  width: 100%;
  padding: 0 20px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid var(--Transparent);
  outline: none;
}
.Sales__All--Buttons {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.Sales__All--Buttons--Button {
  height: 100%;
  padding: 0 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: var(--Transparent);
  color: var(--Black);
  font-size: var(--NormalFontSize);
  border: 2px solid var(--Transparent);
  font-weight: bold;
  transition: 0.5s ease all;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.Sales__All--Buttons--Button ion-icon {
  font-size: var(--IconFontSize);
}
.Sales__All--Buttons--Button:hover {
  background-color: var(--White);
  border-color: var(--StrongPurple);
  color: var(--StrongPurple);
  cursor: pointer;
}
.Sales__All--TableList--Header {
  min-height: 50px;
  padding: 10px;
  background: var(--StrongPurple);
  font-size: var(--NormalFontSize);
  border-radius: 20px 20px 0 0;
  gap: 5px;
  color: var(--White);
  font-weight: bold;

  display: flex;
  align-items: center;
}
.Sales__All--TableList--Header--Number,
.Sales__All--TableList--Header--Total,
.Sales__All--TableList--Header--Date,
.Sales__All--TableList--Header--Ticket,
.Sales__All--TableList--Details--Number,
.Sales__All--TableList--Details--Total,
.Sales__All--TableList--Details--Date,
.Sales__All--TableList--Details--Ticket {
  width: 15%;
  text-align: center;
  word-wrap: break-word;
}
.Sales__All--TableList--Header--Number,
.Sales__All--TableList--Details--Number {
  text-align: left;
}
.Sales__All--TableList--Header--Product,
.Sales__All--TableList--Details--Product {
  width: 40%;
  word-wrap: break-word;
}
.Sales__All--TableList--Details {
  min-height: 50px;
  height: auto;
  padding: 10px;
  background: var(--White);
  font-size: var(--SmallFontSize);

  display: flex;
  align-items: center;
  gap: 5px;
}
.Sales__All--TableList--Details--Product {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Sales__All--TableList--Details--Product--Picture {
  background: var(--StrongPurple);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.Sales__All--TableList--Details--Product img {
  width: 80%;
}
.Sales__All--TableList--Details:nth-child(odd) {
  background: var(--Transparent);
}
.Sales__All--TableList--Details:last-child {
  border-radius: 0 0 20px 20px;
}
.Sales__All--TableList--Details--Ticket {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sales__All--TableList--Details--Ticket--Button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s ease all;
  border: none;
  outline: none;
  background: var(--StrongPurple);
  border: 1px solid var(--StrongPurple);
  color: var(--White);
  border-radius: 5px;
  font-size: var(--IconFontSize);

  display: flex;
  align-items: center;
  justify-content: center;
}
.Sales__All--TableList--Details--Ticket--Button:hover {
  transform: scale(1.1);
  background: var(--White);
  color: var(--StrongPurple);
}
.Sales__All--Buttons--Pages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Sales__All--TableList--Buttons--Pages--Button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.5s ease all;
  font-weight: bold;
  border: none;
  outline: none;
  background: var(--StrongPurple);
  border: 2px solid var(--StrongPurple);
  color: var(--White);
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Sales__All--TableList--Buttons--Pages--Button:hover {
  background: var(--White);
  letter-spacing: 1px;
  color: var(--StrongPurple);
}
.Sales__All--TableList--Buttons--Pages--Button.Prev {
  left: -20px;
}
.Sales__All--TableList--Buttons--Pages--Button.Next {
  right: -20px;
}
@media (width < 550px) {
  .Sales__All--TableList--Details--Product--Picture,
  .Sales__All--TableList--Details--Ticket--Button {
    width: 30px;
    height: 30px;
    font-size: var(--NormalFontSize);
  }
}
@media (width < 500px) {
  .Sales__All--TableList--Details {
    padding: 10px;
    font-size: calc(var(--SmallFontSize) - 1px);
    gap: 5px;
  }
  .Sales__All--TableList--Details--Product {
    flex-direction: column;
    text-align: center;
  }
}
@media (width < 400px) {
  .Sales__All--TableList--Header {
    font-size: var(--SmallFontSize);
  }
  .Sales__All--Buttons--Button {
    font-size: var(--SmallFontSize);
  }
}
